.navbar { background-color: #484848; }
.navbar .navbar-nav .nav-link { color: #fff; }
.navbar .navbar-nav .nav-link:hover { color: #fbc531; }
.navbar .navbar-nav .active > .nav-link { color: #fbc531; }


body {
	margin: 0 auto;
	padding: 0;
}

.btn1 {
    box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:36px;
	border:4px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:2px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;

}

.btn1:hover {
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color: #ffab23;
	text-decoration: none;

}
.btn-danger {
	border-radius:36px;
}


.fiveq{
    margin-left: 50px;
}


.thead{
    background-color: #484848;
    color: white;
    text-align: center;
}

.head {
	text-align: center;
}
.table {
	width: 60%;
	font-size: medium;
}

.fas {
    color: #fbc531;
    padding-right: 70px;
}

.upp {
	color: green;
	padding: 0;
}

.downn{
	color: red;
	padding:0;
}
.highlight {
    background-color: #fbc531;
}

.dinline {
    padding-top: 30px;
}

img {
	width: 100px;
}

.byuser {
	float:right;
}

.sortby {
	float:right;
	padding-left: 70em;
}

.imagem {
	width: 100%;
	display: block;
	height:auto;
}

.question {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-font-smoothing: antialiased;
	color: white;
	outline: none;
	margin: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	display: block;
	box-sizing: border-box;
	margin-bottom: 30px;
	padding: 20px;
	border: 1px solid #dedede;
	background: #FFF;
	position: absolute;
	background: linear-gradient(#484848, #2e303e);
	border-color: rgba(0,0,0,0.10);
	box-shadow: 0 0 5px rgba(0,0,0,0.10);
	margin-top: 0;
	width: 80%;
	left: 10%;
}

.question-author{
	display: flex;
}

.question-desc{
	padding-left: 2em;
}

.question-tags{
	display: inline-block;
	padding-bottom: 3em;
}

.red {
	color:#9199be;
}
.red:hover{
	color:white;
}

.usercontainer{
	 display: grid;
  	grid-template-columns: auto auto auto;
  	padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.question-inner {
	display:inline-block;
	padding-left: 30em;
}
.answer {
	display: inline-block;
}

.buttonsans {
	padding-left: 30px;
}

.h1s {
	color: #484848;
}

.welcome {
	padding-top:0.5em;
	display: inline-block;
	color:white;
	padding-left: 1em;
	padding-right: 3em;
	display: flex;
}


.isa_error {
    color: #D8000C;
    background-color: #FFD2D2;
}

.isa_success {
	color: #4F8A10;
	background-color: #DFF2BF;
}

.isa_success i, .isa_warning i {
    margin:10px 22px;
    font-size:2em;
    vertical-align:middle;
}

.wrapper{
  position: relative;
  width: 450px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69,90,100,.08);
}

.wrapper .left{
  width: 35%;
  background: linear-gradient(to right,#484848, #2e303e);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img{
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4{
  margin-bottom: 10px;
}

.wrapper .right{
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects{
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3{
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data{
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data{
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4{
    color: #353c4e;
    margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p{
  font-size: 16px;
  margin-bottom: 10px;
  color: black;
}

.wrapper .social_media ul{
  display: flex;
}

.wrapper .social_media ul li{
  width: 45px;
  height: 45px;
  background: linear-gradient(to right,#484848, #2e303e);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
	list-style-type: none;
}

.wrapper .social_media ul li a{
  color :#fff;
  display: block;
  font-size: 18px;

}