{% extends 'layout.html' %}

{% block body %}
<br>
<br>
<br>
<form action="{{url_for('question_new_answer', question_id=question['id'])}}" method="POST" enctype="multipart/form-data">
<table class="table">
    <thead class="head">
    <tr>
    <th>
        <h2>Your answer: </h2>
    </th>
    </tr>
    </thead>
    <tbody>
    <tr><td><textarea name="text" rows="10" cols="100" placeholder="Type your answer here"></textarea></td></tr>
           <tr> <td> <label for="image">Select image</label>
      <input id="image" type="file" name="form_answer_image"></td></tr>

   <tr> <td><button type="submit" class="btn1"> Save </button>
    <a href={{url_for('display_one_question', question_id=question['id'])}} type="button" class="btn1">Back To Question</a></td>
    </tr>
    </tbody>
</table>
</form>

{% endblock %}