{% extends 'layout.html' %}

{% block body %}
<div class="jumbotron text-center">
    <h1>Question ID: {{ question['id'] }}</h1>
</div>
<form action="/edit-question-todb/{{ question['id'] }}" method="POST" enctype="multipart/form-data">
<table class="table">
    <thead class="thead-dark" style="width : 100%">
    <tr><th><h2>Edit Title:</h2> </th></tr>
    <tr><th><input type="text" name="title" size ="100" width="100" placeholder ="{{question['title'] }}" ></th></tr>
    <tr><th> <label for="message" > <h2>Edit Message:</h2></label></th></tr>

    <tr><th><textarea name='message' id=message rows="4" cols="50" placeholder="{{question['message']}}"></textarea> </th></tr>
    <tr>
        <img src="/static/images/{{ question['image'] }}" style="max-width: 150px;">
        <label for="image">Select image</label>
        <input id="image" type="file" name="edit_question_image">
    </tr>
    </thead>
    <tbody><tr><td><button   type="submit" class="btn btn-info"> Save </button>    </td></tr></tbody>
</table>
</form>
{% endblock %}