{% extends 'layout.html' %}

{% block body %}
<style>
    body {
        background-image: url(/static/images/question-mark-background-1909040_1920.png);
    }
</style>
<br>
<br>
<br>


<form action="/edit-question-todb/{{ question['id'] }}" method="POST" enctype="multipart/form-data">
    <h2>Title</h2>
  <textarea type="text" name="title" rows="1" cols="100" >{{question.title}}</textarea>
    <h3 >Your question:</h3>
    <textarea name="message" value="message" rows="15" cols="100">{{question.message}}</textarea> <br>
    <label for="image">Select image</label>
    <input id="image" type="file" name="form_question_image"> <br>
   <button type="submit" class="btn1"> Save </button>
    </form>

{% endblock %}