{% extends 'layout.html' %}

{% block head %}
    <title>Edit Answer {{ answer_id }}</title>
{% endblock head %}



{% block body %}

    <h1>ASK MATE</h1>
{%for answer in answer%}


    <div class="main-form">
        <form action="/edit_answer_todb/{{answer['id']}}" method="POST" enctype="multipart/form-data">
            <label>Edit Answer {{ answer['id'] }}</label><br>
            <textarea name="message" rows="6" cols="45" class="text_container">{{ answer.message }}</textarea>
            <br>
            <input type="submit" value="Edit Answer" class="button">
        </form>
    </div>
{%endfor%}
{% endblock body %}