{% extends 'layout.html' %}

{% block body %}

<br>
<br>
<br>
<br>

<article class="question question-type-normal">
    <div class="tab">

        <h1 class="qtitle">{{question.title}}</h1>
        <p><small> by {{username}}</small></p>
        {% for tag in tags %}
        <div class="question-tags"><i class="fa fa-tags "> {{tag}} </i></div>
        {% endfor %}
    <br>
    <br>
    <div class="question-author">
        <img alt="" src="https://2code.info/demo/html/ask-me/images/demo/avatar.png" height="90em" >
        <p class="question-desc">{{question.message}} <br><br>
            <span>
                Comments:<br>
                 {% for question_comment in question_comments %}
                ------>  {{ question_comment.message }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="editqc" href="{{ url_for('edit_comment', question_id=question.id, comment_id=question_comment.id)}}">
                <i class="fas fa-edit"></i></a>
                <a class="red" href="{{ url_for('del_comment', comment_id=question_comment.id)}}
                    "onclick="return confirm('Are you sure to delete this comment?')">
                    <i class="fa fa-trash-alt"></i></a>
               <br> Edited count: {{ question_comment.edited_count }}<br>
        {% endfor %}
                <br>
                <br>
      </span>
            <span>
                {%if question.user_id == session['user_id']%}
                <a href="/question/ {{ question.id }}/vote_up" type="submit" ><i class="fas fa-arrow-up upp"
                style="display:none;"></i></a>

                <a href="/question/ {{ question.id }}/vote_down" type="submit"><i class="fas fa-arrow-down downn"
                style="display:none;"></i></a>

                {%else%}
                <a href="/question/ {{ question.id }}/vote_up" type="submit" ><i class="fas fa-arrow-up upp"></i></a>

                <a href="/question/ {{ question.id }}/vote_down" type="submit"><i class="fas fa-arrow-down downn"></i></a>
                        Vote Number: {{question['vote_number']}}
                {%endif %}
                <a class="btn1" href="/question/{{ question_id }}/edit">Edit</a>
                <a class="btn1" href="/question/{{ question_id }}/new-comment">Comment</a>
                <a class="btn1" href="/question/{{ question['id'] }}/new_answer" >New Answer</a>
                <a class="btn1" href="/list" type="button" >Back To List</a>
                <a class="btn1" href="/question/{{ question_id }}/delete" >DELETE</a>
            </span>
        </p>


    </div>

        <br>
        <br>
         <h4>Answers</h4>
        {% for answer in answers %}
    {% if answer['question_id'] == question['id'] %}
<div class ="answer">

                <p>{{answer['message']}}<br>
                 {% if answer['user_id'] == session['user_id'] %}
                {% if answer['accepted'] %}

                        <a href="/unmark/{{ answer['id'] }}/{{ question_id }}" > <i class="fas fa-square"></i> </a>
                {% else %}

                        <a href="/mark-accepted/{{ answer['id'] }}/{{ question_id }}" ><i class="fas fa-check-square"></i>
                        </a>

                {% endif %}

                <a href="/answer/ {{ answer.id }}/vote_up" type="submit">
                    <i class="fas fa-arrow-up upp" style="display: none"></i></a>
                <a href="/answer/ {{ answer.id }}/vote_down" type="submit">
                    <i class="fas fa-arrow-down downn" style="display: none"></i></a>
     {%else%}
               <a href="/answer/ {{ answer.id }}/vote_up" type="submit">
                    <i class="fas fa-arrow-up upp"></i></a>
                <a href="/answer/ {{ answer.id }}/vote_down" type="submit">
                    <i class="fas fa-arrow-down downn" ></i></a>
                     {{answer['vote_number']}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     {%endif%}
            <a href="/answer/{{ answer['id'] }}/edit" ><i class="fas fa-edit"></i></a>
            <a href="/answer/{{ answer['id'] }}/new-comment" ><i class="fas fa-comment"></i></a>
            <a href="{{ url_for('delete_answer_from_db', answer_id=answer['id']) }}"><i class=" red fas fa-trash-alt"></i></a>
    </p>
    {% for user in answer_users %}
        {% if user['id'] == answer['user_id'] %}
            <small class="byuser"> by {{user['user_name']}}</small>
     {%endif%}
    {%endfor%}
    </div>
        <br>

    </div>
            <div class="comments">
                {% for comment in answer_comments %}
                    {% if comment['answer_id'] == answer['id'] %}

                        <ul> <li> <p>-----> {{comment['message']}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                            <a href="{{ url_for('edit_comment', question_id=question.id, comment_id=comment.id)}}">
                                <i class="fas fa-edit"></i></a>
                            <a   href="{{ url_for('del_comment', comment_id=comment.id)}}
                                "onclick="return confirm('Are you sure to delete this comment?')"><i class=" red fas fa-trash-alt"></i></a>
                       </p> </li>
                        </ul>
                    {% endif %}
                {% endfor %}
        </div>
    <p> --------------------------------------------------------------------------------------------------------------------------</p>


{%endif%}
{%endfor%}
    <span>
            <form class = "tagz" method = "POST" action = "{{url_for('add_tag', question_id=question['id'])}}">
            <input   type="text" name="tag" size ="10" width="10" placeholder ="add tag">
            <button class="btn1 " type="submit">Add TAG</button>
            </form>
        </span>


</article>

    {% endblock %}