{% extends 'layout.html' %}
{%  import "bootstrap/wtf.html" as wtf %}
{% block body %}
<br>
<br>
<br>
<div class="container">

  <form class="form-signin" method="POST" action="/signup">
    <h2 class="form-signin-heading">Sign Up</h2>
      {{ form.hidden_tag() }}
          {{ wtf.form_field(form.first_name) }}
          {{ wtf.form_field(form.last_name) }}
          {{ wtf.form_field(form.username) }}
          {{ wtf.form_field(form.email) }}
          {{ wtf.form_field(form.password) }}
      {% if status == 'user_exist' %}
         <div class="isa_error"> <i class="fa fa-warning"></i>
                        UserName or Email already used
              </div>
        {% elif status == 'user_created' %}
                     <div class="isa_success"> <i class="fa fa-check"></i>
                        User Has Been Created. Please Log In
              </div>
      {%  endif %}
      <br>
      <br>
    <button class="btn1 btn-lg" type="submit">Sign Up</button>
  </form>

</div>

{% endblock %}