{% extends 'layout.html' %}

{% block body %}
    {% if id_check == True %}
{% for details in user_details %}
<div class = "usercontainer">
    <div class="grid-item">
<br>
<br>
<br>
<div class="wrapper">
    <div class="left">
        <img src="https://2code.info/demo/html/ask-me/images/demo/avatar.png" alt="user" width="100">
        <h4>{{details.first_name}}  {{details.last_name}}</h4>
    </div>
    <div class="right">
        <div class="info">
            <h3>Information</h3>
            <div class="info_data">
                 <div class="data">
                    <h4>Email</h4>
                    <p>{{details.email}}</p>
                 </div>
            </div>
        </div>

      <div class="projects">
            <h3>Stats</h3>
            <div class="projects_data">
                 <div class="data">
                    <h4>Reputation</h4>
                    <p>{{details.reputation}}</p>
                 </div>
                 <div class="data">
                   <h4>Registration </h4>
                    <p>{{details.registration_date}}</p>
              </div>
            </div>
        </div>

        <div class="social_media">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
      </div>
    </div>
</div>
        </div>
{% endfor %}
    <div class="grid-item">
        {% if questions_dict_list|length > 0 %}
    <br>
        <h2>Questions:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Message</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                {% for row in questions_dict_list %}
                <tr>
                    <td><a href="/question/{{ row['id'] }}">{{ row['title'] }}</a></td>
                    <td>{{ row['message'] }}</td>
                    <td><img src="/static/images/{{ row['image'] }}" alt="random image"></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>User has no questions.</p>
        {% endif %}

        {% if answers_dict_list|length > 0 %}
            <h2>Answers:</h2>
            <table class="table">
            <thead>
                <tr>
                    <th>Message</th>
                    <th>Image</th>
                    <th>Question</th>
                </tr>
            </thead>
            <tbody>
                {% for row in answers_dict_list %}
                <tr>
                    <td>
                        <div style="display: block;">
                        {{ row['message'] }}<br>

                            {% if row['accepted'] %}
                        <i class="fas fa-check-square"></i><br>
                            {% endif %}

                    </td>
                    <td><img src="/static/images/{{ row['image'] }}" alt="random image"></td>
                    <td><a href="/question/{{ row['question_id'] }}">{{ row['title'] }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>User has no answers.</p>
        {% endif %}

        {% if comments_dict_list|length > 0 %}
            <h2>Comments:</h2>
            <table class="table">
            <thead>
                <tr>
                    <th>Message</th>
                    <th>Answer</th>
                    <th>Question</th>
                </tr>
            </thead>
            <tbody>
                {% for row in comments_dict_list %}
                <tr>
                    <td>{{ row['message'] }}</td>
                    <td>{{ row['ans_mes'] }}</td>
                    <td><a href="/question/{{ row['id'] }}">{{ row['title'] }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p>User has no comments.</p>
        {% endif %}
</div>
    </div>
    {% else %}
        <p class="user_error">You are not authorized to view this user data.</p>
    {% endif %}
{% endblock %}