{% extends 'layout.html' %}
{% block body %}
<br>
<br>
<br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">UserName</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Email</th>
        <th scope="col">Reputation</th>
      <th scope="col">Registration Date</th>
    </tr>
  </thead>
    <tbody>
    {% for details in data %}
    <tr>
        <td style="background-color: lightslategrey">{{details.user_name}}</td>
        <td style="background-color: white">{{details.first_name}}</td>
        <td style="background-color: white">{{details.last_name}}</td>
        <td style="background-color: darkgoldenrod">{{details.email}}</td>
        <td>{{details.reputation}}</td>
        <td>{{details.registration_date}}</td>
    </tr>
    </tbody>
    {% endfor %}
</table>
{%endblock%}